In [1]:
import pandas as pd

In [2]:
df3 = pd.read_excel('Units 2021 OPD - new demand centers (1).xlsx')

In [3]:
df3.head()

,The SAS System,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,PROD_ID,PROD_DESC,MERC_YR,MERC_WK,MERC_WK_ID,DMD_UNITS
2,080G303006,(080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...,2021,41,202141,1
3,080G303006,(080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...,2021,45,202145,1
4,080G303006,(080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...,2021,52,202152,1

In [4]:
# THIS IS THE DATASET WE ARE WORKING ON

In [5]:
df3 = df3.iloc[1:].reset_index(drop=True)

# Set the first row as the header
df3.columns = df3.iloc[0]
df3 = df3[1:].reset_index(drop=True)
df3.head()

,PROD_ID,PROD_DESC,MERC_YR,MERC_WK,MERC_WK_ID,DMD_UNITS
0,080G303006,(080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...,2021,41,202141,1
1,080G303006,(080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...,2021,45,202145,1
2,080G303006,(080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...,2021,52,202152,1
3,080G303006,(080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...,2021,53,202153,2
4,080G326006,(080G326006) SnwshdCnvs Shirt L/S TrdFt M's R ...,2021,1,202101,2

In [6]:
df3 = df3[['PROD_ID','PROD_DESC']]

In [7]:
df3.shape

(580322, 2)

In [8]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580322 entries, 0 to 580321
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   PROD_ID    580322 non-null  object
 1   PROD_DESC  580322 non-null  object
dtypes: object(2)
memory usage: 8.9+ MB

In [9]:
 # JUST CHOOSING PROD_ID AND PROD_DESC

In [10]:
df3.head()

0     PROD_ID                                          PROD_DESC
0  080G303006  (080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...
1  080G303006  (080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...
2  080G303006  (080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...
3  080G303006  (080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...
4  080G326006  (080G326006) SnwshdCnvs Shirt L/S TrdFt M's R ...

In [11]:
 # ONLY CHOOSING THE UNIQUE PRODUCT IDs, KEEPING THE FIRST ROW, THEREBY REDUCING THE SIZE FROM 580K ROWS TO 23K ROWS

In [12]:
df3_unique_prod_id = df3.drop_duplicates(subset='PROD_ID', keep='first')
df3_unique_prod_id

0          PROD_ID                                          PROD_DESC
0       080G303006  (080G303006) SnwshdCnvs Shirt L/S TrdFt M's R ...
4       080G326006  (080G326006) SnwshdCnvs Shirt L/S TrdFt M's R ...
24      080G404008  (080G404008) SnwshdCnvs Shirt L/S TrdFt M's T ...
76      080G504008  (080G504008) SnwshdCnvs Shirt S/S TrdFt M's R ...
127     0ASM404008  (0ASM404008) M's Reg Crfr Unshk T W/O Pkt SS C...
...            ...                                                ...
580317  1000156305  (1000156305) WF Knnbnk Sport Shrt LS Ck M's R ...
580318  1000156519  (1000156519) M's T LS Crfr Unshnk Henley Musta...
580319  1000156435  (1000156435) M's Tall Crfr Unsh T W/O Pkt LS M...
580320  1000157532  (1000157532) IntrlckTurtleneck Print W'sTall C...
580321  1000156941  (1000156941) M's Reg Crfr Unshnk T LS Henley T...

[23608 rows x 2 columns]

In [13]:
pd.set_option('display.max_colwidth', None)

In [14]:
#  SPLITTING THE PROD_DESC INTO FEATURES LIKE PRODUCT TYPE, GENDER, FIT, COLOR, SIZE

In [15]:
import re

def split_prod_desc(prod_desc):
    # Regex patterns for different components
    product_type_pattern = re.compile(r'\)\s(.*?)\s(?:W\'s|M\'s|Women\'s|Men\'s|Mn\'s|Ms|Mrs|M|Ms)')
    gender_pattern = re.compile(r'(W\'s|Women\'s|M\'s|Men\'s|Mn\'s)')
    fit_pattern = re.compile(r'(Reg|Petite|Pet|Tall|TrdFt|MR|R)')
    color_pattern = re.compile(r'(\w+\s\w+)$')
    size_pattern = re.compile(r'(\bXS\b|\bS\b|\bM\b|\bL\b|\bXL\b|\bXXL\b|\bXXXL\b|\d+(\.\d+)?x\d+(\.\d+)?)$')

    product_type_match = product_type_pattern.search(prod_desc)
    gender_match = gender_pattern.search(prod_desc)
    fit_match = fit_pattern.search(prod_desc)
    color_match = color_pattern.search(prod_desc)
    size_match = size_pattern.search(prod_desc)
    
    product_type = product_type_match.group(1) if product_type_match else 'Unknown'
    gender = gender_match.group(1) if gender_match else 'Unspecified'
    fit = fit_match.group(1) if fit_match else 'Other'
    color = color_match.group(1) if color_match else 'Unknown'
    size = size_match.group(1) if size_match else 'Unknown'

    # Normalize some values
    if gender == "Mn's":
        gender = "Men's"
    if fit == "TrdFt":
        fit = "Traditional Fit"
    elif fit == "Pet":
        fit = "Petite"
    elif fit == "MR":
        fit = "Men's Regular"
    elif fit == "R":
        fit = "Regular"
    
    return pd.Series([product_type, gender, fit, color, size])



# Apply the split function to PROD_DESC
df3_unique_prod_id[['Product_Type', 'Gender', 'Fit', 'Color', 'Size']] = df3_unique_prod_id['PROD_DESC'].apply(split_prod_desc)

/var/folders/g5/r3br8jz97s7c_z6lj7l3b2540000gn/T/ipykernel_71127/2733027697.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_unique_prod_id[['Product_Type', 'Gender', 'Fit', 'Color', 'Size']] = df3_unique_prod_id['PROD_DESC'].apply(split_prod_desc)
/var/folders/g5/r3br8jz97s7c_z6lj7l3b2540000gn/T/ipykernel_71127/2733027697.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_unique_prod_id[['Product_Type', 'Gender', 'Fit', 'Color', 'Size']] = df3_unique_prod_id['PROD_DESC'].apply(split_prod_desc)
/var/folders/g5/r3br8jz97s7c_z6lj7l3b2540000gn/T/ipykernel_71127/2733027697.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_unique_prod_id[['Product_Type', 'Gender', 'Fit', 'Color', 'Size']] = df3_unique_prod_id['PROD_DESC'].apply(split_prod_desc)
/var/folders/g5/r3br8jz97s7c_z6lj7l3b2540000gn/T/ipykernel_71127/2733027697.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_unique_prod_id[['Product_Type', 'Gender', 'Fit', 'Color', 'Size']] = df3_unique_prod_id['PROD_DESC'].apply(split_prod_desc)
/var/folders/g5/r3br8jz97s7c_z6lj7l3b2540000gn/T/ipykernel_71127/2733027697.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_unique_prod_id[['Product_Type', 'Gender', 'Fit', 'Color', 'Size']] = df3_unique_prod_id['PROD_DESC'].apply(split_prod_desc)

In [16]:
df3_unique_prod_id.reset_index(drop=True, inplace=True)

In [17]:
df3_unique_prod_id.loc[2000:3000]

,PROD_ID,PROD_DESC,Product_Type,Gender,Fit,Color,Size
2000,0QHG264002,(0QHG264002) Pima Elbow Sleeve Scoop W's Pet Butter S,Pima Elbow Sleeve Scoop,W's,Petite,Butter S,S
2001,0PPK910008,(0PPK910008) Bean's Swtr Fleece Coat W's Rg ClassicBlack XL,Bean's Swtr Fleece Coat,W's,Regular,ClassicBlack XL,XL
2002,0PPK912004,(0PPK912004) Bean's Swtr Fleece Coat W's Rg Pewter M,Bean's Swtr Fleece Coat,W's,Regular,Pewter M,M
2003,0ND1398002,(0ND1398002) IntrlckTurtleneck A/C W's Reg Alpine Blue S,IntrlckTurtleneck A/C,W's,Reg,Blue S,S
2004,0QLQ336165,(0QLQ336165) WF Pnpt Oxf Sht LS Sltly Ftd M's French Blue 16.5x36,WF Pnpt Oxf Sht LS Sltly Ftd,M's,Other,Unknown,16.5x36
...,...,...,...,...,...,...,...
2996,0TTH313002,(0TTH313002) Bean's Swtr Flc Fll Zp Jckt Ms R Char Gry Hth S,Bean's Swtr Flc Fll Zp Jckt,Unspecified,Regular,Hth S,S
2997,0TCC501002,(0TCC501002) Scotch Plaid Zip Hoodie W's Rg Black Watch S,Scotch Plaid Zip Hoodie,W's,Regular,Watch S,S
2998,0TCC595008,(0TCC595008) Scotch Plaid Zip Hoodie W's Rg Rob Roy XL,Scotch Plaid Zip Hoodie,W's,Regular,Roy XL,XL
2999,0SBQ495008,(0SBQ495008) Scotch Plaid Shirt SF W's Petite Rob Roy XL,Scotch Plaid Shirt SF,W's,Petite,Roy XL,XL
3000,0SGB421033,(0SGB421033) Sat Kn T Crw S/S St Women's Pls ClsscNvy/Wht 3X,Sat Kn T Crw S/S St,Women's,Other,Wht 3X,Unknown

In [18]:
# FOR A GIVEN PRODUCT, WE ARE TRYING TO GET THE SUBSTITUTIONS INCASE IF IT'S OUT OF STOCK

In [19]:
# ######ENCODING THE FEATURES AND COMPUTING THE MATRIX USING COSINE SIMILARITY ########

In [20]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity

# Encoding categorical variables
encoder = OneHotEncoder()
encoded_features = encoder.fit_transform(df3_unique_prod_id[['Product_Type', 'Gender', 'Fit', 'Color', 'Size']])

# Compute the Cosine Similarity matrix
cosine_sim = cosine_similarity(encoded_features, encoded_features)

# Mapping indices and product IDs
indices = pd.Series(df3_unique_prod_id.index, index=df3_unique_prod_id['PROD_ID']).drop_duplicates()

In [21]:
# FUNCTION THAT CAN PROVIDE SUBSTITUTIONS FOR A GIVEN PRODUCT ID BASED ON THEIR SIMILARITY SCORE

In [22]:
def get_recommendations_with_description(prod_id, df3_unique_prod_id, cosine_sim):
    idx = indices[prod_id]  # ensure indices is properly defined to map product IDs to DataFrame indices

    # Get the pairwise similarity scores of all products with that product
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the products based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    sim_scores = sim_scores[:5]  # Include the first entry for comparison

    # Get the product indices
    product_indices = [i[0] for i in sim_scores]

    # Get the similarity scores (for visibility)
    similarity_scores = [i[1] for i in sim_scores]

    # Return the top 10 most similar products and their descriptions from the correct DataFrame
    result = df3_unique_prod_id.loc[product_indices, ['PROD_ID', 'PROD_DESC']]
    result['Similarity'] = similarity_scores
    return result

In [23]:
# TEST ONE - GIVEN THE PRODUCT ID '080G404008', BELOW COMES THE SUBSTITUTIONS ALONG WITH THE GIVEN THE PRODUCT ID

In [24]:
recommended_products_with_desc = get_recommendations_with_description('080G404008', df3_unique_prod_id, cosine_sim)
recommended_products_with_desc

,PROD_ID,PROD_DESC,Similarity
2,080G404008,(080G404008) SnwshdCnvs Shirt L/S TrdFt M's T Chamois XL,1.0
23,080G304008,(080G304008) SnwshdCnvs Shirt L/S TrdFt M's R Chamois XL,1.0
3,080G504008,(080G504008) SnwshdCnvs Shirt S/S TrdFt M's R Chamois XL,0.8
13,080G314008,(080G314008) SnwshdCnvs Shirt L/S TrdFt M's R Sienna Clay XL,0.8
15,080G352008,(080G352008) SnwshdCnvs Shirt L/S TrdFt M's R Bay Leaf XL,0.8

In [25]:
# TEST TWO - GIVEN THE PRODUCT ID '0KDC832155', BELOW COMES THE SUBSTITUTIONS ALONG WITH THE GIVEN THE PRODUCT ID

In [26]:

recommended_products_with_desc = get_recommendations_with_description('0KDC832155', df3_unique_prod_id, cosine_sim)
recommended_products_with_desc

,PROD_ID,PROD_DESC,Similarity
996,0KDC832155,(0KDC832155) W-F Oxford Shirt AC LS M's Reg Sun 15.5x32,1.0
3881,0VV7232155,(0VV7232155) W-F Oxford Shirt AC LS M's Reg White 15.5x32,1.0
4128,1000007144,(1000007144) W-F Oxford Shirt AC LS M's Reg Maritime Red 15.5x32,1.0
4187,0VV7332155,(0VV7332155) W-F Oxford Shirt AC LS M's Reg French Blue 15.5x32,1.0
654,0KDC832145,(0KDC832145) W-F Oxford Shirt AC LS M's Reg Sun 14.5x32,0.8

In [27]:

recommended_products_with_desc = get_recommendations_with_description('0PPV335160', df3_unique_prod_id, cosine_sim)
recommended_products_with_desc

,PROD_ID,PROD_DESC,Similarity
1997,0PPV335160,(0PPV335160) WF Pnpnt Oxf Shrt LS Slim Ft Ms White 16x35,1.0
1158,0LTV535160,(0LTV535160) WF Pnpt Oxf Shirt L/S Stripe Ms White 16x35,0.8
1582,0LTW235160,(0LTW235160) WF Pnpt Oxf LS Sltly Ft Strp M White 16x35,0.8
2242,0PPV235160,(0PPV235160) WF Pnpnt Oxf Shrt LS Slim Ft Ms Blue 16x35,0.8
2357,0QLQ235160,(0QLQ235160) WF Pnpnt Oxf Shrt LS Slim Ft Ms French Blue 16x35,0.8

In [28]:

recommended_products_with_desc = get_recommendations_with_description('0TCC595008', df3_unique_prod_id, cosine_sim)
recommended_products_with_desc

,PROD_ID,PROD_DESC,Similarity
2998,0TCC595008,(0TCC595008) Scotch Plaid Zip Hoodie W's Rg Rob Roy XL,1.0
2694,0TCC552008,(0TCC552008) Scotch Plaid Zip Hoodie W's Rg Dress Gordon XL,0.8
3492,0UDA795008,(0UDA795008) SctchPld ShrpLnd ZpHdie W's Rg Rob Roy XL,0.8
3523,0TCC501008,(0TCC501008) Scotch Plaid Zip Hoodie W's Rg Black Watch XL,0.8
5547,1000006707,(1000006707) Scotch Plaid Zip Hoodie W's Rg RylStwrtTrtn XL,0.8

In [ ]:
###### ENCODING THE FEATURES AND COMPUTING THE MATRIX USING EUCLIDEAN DISTANCE ########

In [31]:
from sklearn.metrics.pairwise import euclidean_distances


encoder = OneHotEncoder()
encoded_features = encoder.fit_transform(df3_unique_prod_id[['Product_Type', 'Gender', 'Fit', 'Color', 'Size']])

# Compute the Euclidean Distance matrix
euclidean_dist = euclidean_distances(encoded_features, encoded_features)

# Mapping indices and product IDs
indices = pd.Series(df3_unique_prod_id.index, index=df3_unique_prod_id['PROD_ID']).drop_duplicates()

In [32]:
def get_recommendations_with_description(prod_id, df3_unique_prod_id, euclidean_dist):
    idx = indices[prod_id]  # ensure indices is properly defined to map product IDs to DataFrame indices

    # Get the pairwise distance scores of all products with that product
    dist_scores = list(enumerate(euclidean_dist[idx]))

    # Sort the products based on the distance scores (ascending order)
    dist_scores = sorted(dist_scores, key=lambda x: x[1])

    dist_scores = dist_scores[:5]  # Include the first entry for comparison

    # Get the product indices
    product_indices = [i[0] for i in dist_scores]

    # Get the distance scores (for visibility)
    distance_scores = [i[1] for i in dist_scores]

    # Return the top 5 most similar products and their descriptions from the correct DataFrame
    result = df3_unique_prod_id.loc[product_indices, ['PROD_ID', 'PROD_DESC']]
    result['Distance'] = distance_scores
    return result

In [33]:
recommended_products_with_desc = get_recommendations_with_description('080G404008', df3_unique_prod_id, euclidean_dist)
recommended_products_with_desc

,PROD_ID,PROD_DESC,Distance
2,080G404008,(080G404008) SnwshdCnvs Shirt L/S TrdFt M's T Chamois XL,0.000000
23,080G304008,(080G304008) SnwshdCnvs Shirt L/S TrdFt M's R Chamois XL,0.000000
3,080G504008,(080G504008) SnwshdCnvs Shirt S/S TrdFt M's R Chamois XL,1.414214
13,080G314008,(080G314008) SnwshdCnvs Shirt L/S TrdFt M's R Sienna Clay XL,1.414214
15,080G352008,(080G352008) SnwshdCnvs Shirt L/S TrdFt M's R Bay Leaf XL,1.414214

In [34]:
recommended_products_with_desc = get_recommendations_with_description('0KDC832155', df3_unique_prod_id, euclidean_dist)
recommended_products_with_desc

,PROD_ID,PROD_DESC,Distance
996,0KDC832155,(0KDC832155) W-F Oxford Shirt AC LS M's Reg Sun 15.5x32,0.000000
3881,0VV7232155,(0VV7232155) W-F Oxford Shirt AC LS M's Reg White 15.5x32,0.000000
4128,1000007144,(1000007144) W-F Oxford Shirt AC LS M's Reg Maritime Red 15.5x32,0.000000
4187,0VV7332155,(0VV7332155) W-F Oxford Shirt AC LS M's Reg French Blue 15.5x32,0.000000
654,0KDC832145,(0KDC832145) W-F Oxford Shirt AC LS M's Reg Sun 14.5x32,1.414214

In [35]:
recommended_products_with_desc = get_recommendations_with_description('0PPV335160', df3_unique_prod_id, euclidean_dist)
recommended_products_with_desc

,PROD_ID,PROD_DESC,Distance
1997,0PPV335160,(0PPV335160) WF Pnpnt Oxf Shrt LS Slim Ft Ms White 16x35,0.000000
1158,0LTV535160,(0LTV535160) WF Pnpt Oxf Shirt L/S Stripe Ms White 16x35,1.414214
1582,0LTW235160,(0LTW235160) WF Pnpt Oxf LS Sltly Ft Strp M White 16x35,1.414214
2242,0PPV235160,(0PPV235160) WF Pnpnt Oxf Shrt LS Slim Ft Ms Blue 16x35,1.414214
2357,0QLQ235160,(0QLQ235160) WF Pnpnt Oxf Shrt LS Slim Ft Ms French Blue 16x35,1.414214

In [36]:
recommended_products_with_desc = get_recommendations_with_description('0TCC595008', df3_unique_prod_id, euclidean_dist)
recommended_products_with_desc

,PROD_ID,PROD_DESC,Distance
2998,0TCC595008,(0TCC595008) Scotch Plaid Zip Hoodie W's Rg Rob Roy XL,0.000000
2694,0TCC552008,(0TCC552008) Scotch Plaid Zip Hoodie W's Rg Dress Gordon XL,1.414214
3492,0UDA795008,(0UDA795008) SctchPld ShrpLnd ZpHdie W's Rg Rob Roy XL,1.414214
3523,0TCC501008,(0TCC501008) Scotch Plaid Zip Hoodie W's Rg Black Watch XL,1.414214
5547,1000006707,(1000006707) Scotch Plaid Zip Hoodie W's Rg RylStwrtTrtn XL,1.414214